PHOTO_MONITOR_JWT_SECRET=change-me
SMS_ENABLED=false
ALIYUN_SMS_SIGN_NAME=浙江越岚索道管理
ALIYUN_SMS_BIRTHDAY_TEMPLATE_CODE=SMS_506865121
ALIYUN_SMS_CERT_TEMPLATE_CODE=SMS_506860107
SMS_DAILY_SEND_TIME=09:00
SMS_CERT_REMIND_DAYS_BEFORE=90
SMS_LOG_FILE=office_data/sms_logs.json
ALIBABA_CLOUD_ACCESS_KEY_ID=your_access_key_id
ALIBABA_CLOUD_ACCESS_KEY_SECRET=your_access_key_secret
